@import "https://fonts.googleapis.com/css?family=Charm" ;

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/*NavBar start*/

.navbar {
  color: white;
  background-color: #00075c;
  border-color: #366769;
  /*background-image: linear-gradient(#00abab, #0075cd);*/
  position: relative;
  height: 100px;
}
.navbar .seal {
  border-top: 30px solid #00075c;
  border-top: 30px solid #00075c;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  width: 200px;
  position: relative;
  z-index: -1;
  left: 50%;
  bottom: -20px;
  margin-left: -110px;
  top: 15px;
}

.logo{
  text-align: center;
  font-size: 50px;
  font-family: 'Charm', cursive;
}

/*Navbar end*/

/*Button start*/
.button-submit {
  outline: none;
  height: 70px;
  text-align: center;
  width: 240px;
  border-radius: 40px;
  background: black;
  border: 2px solid #1ECD97;
  color: #1ECD97;
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 50px;
  variant :outlined;
  -webkit-animation: fadein 10s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 10s; /* Firefox < 16 */
  -ms-animation: fadein 10s; /* Internet Explorer */
  -o-animation: fadein 10s; /* Opera < 12.1 */
  animation: fadein 10s;
}
.button-submit:hover {
  color: black;
  background: #1ECD97;
}
.button-submit:active {
  letter-spacing: 2px;
}

.onclic {
  width: 40px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  border-left-color: #1ECD97;
  -webkit-animation: rotating 2s 0.25s linear infinite;
  animation: rotating 2s 0.25s linear infinite;
}
.onclic:after {
  content: "";
}
.onclic:hover {
  color: #1ECD97;
  background: white;
}

.validate {
  font-size: 13px;
  color: white;
  background: #1ECD97;
}
/*Button end*/

/*Button start*/
.button-return {
  outline: none;
  height: 70px;
  text-align: center;
  width: 240px;
  border-radius: 40px;
  background: black;
  border: 2px solid #1ECD97;
  color: #1ECD97;
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 50px;
  variant :outlined;

}
.button-return:hover {
  color: black;
  background: #1ECD97;
}
.button-return:active {
  letter-spacing: 2px;
}

.onclic {
  width: 40px;
  border-color: #bbbbbb;
  border-width: 3px;
  font-size: 0;
  border-left-color: #1ECD97;
  -webkit-animation: rotating 2s 0.25s linear infinite;
  animation: rotating 2s 0.25s linear infinite;
}
.onclic:after {
  content: "";
}
.onclic:hover {
  color: #1ECD97;
  background: white;
}

.validate {
  font-size: 13px;
  color: white;
  background: #1ECD97;
}
/*Button end*/

.buttons{
  padding-top: 100px;
  text-align: center;

}

/*Test for button change*/
.change {
  width : 0px;
  transition: width 0.5s ease-out;
}
.change2 {
  width : 240px;
  transition: width 0.5s ease-out;
}
/*end test for button change*/

.summaryPara{
  font-size: 30px;
  color: black;
  font-weight: bold;
  font-family: 'Charm', cursive;
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s; /* Firefox < 16 */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera < 12.1 */
  animation: fadein 4s;
}

.inputText {
  outline: none;
  height: 69px;
  text-align: center;
  width: 240px;
  border-radius: 40px;
  background: black;
  border: 2px solid #1ECD97;
  color: #1ECD97;
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  /*transition: all 0.25s ease;*/
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 50px;
  variant: outlined;
  /*transition: width 0.5s ease-out;*/

}

.cancelButton{
  visibility : hidden;
  margin-top: 5px;
}

/*Fade in animations*/
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/*Fade in animations end*/